<div class="container-fluid d-flex justify-content-center">
  
    <div class="mt-5">

        <div>
            <h1>Welcome! Log in to catch Pokemon:</h1>
        </div>

        <input class="form-control mb-2" type="text" placeholder="username" [(ngModel)]="username">
        <input class="form-control mb-2" type="password" placeholder="password" [(ngModel)]="password">

        <div class="d-flex justify-content-center">
            <button class="btn btn-dark btn-lg w-25" (click)="loginHardcoded()">Log In</button>
        </div>

    </div>


</div>